@media (max-width:1820px){
    .order-info{
        width: 250px;
    }
    .col-2, .price, .amount{
        font-size: 2rem;
    }
    .pizza-img{
        width:90%;
    }
    #basket{
        width: 25%;
    }
    #cart{
        width: 75%;
    }
}

@media (max-width: 1640px){
    #info-1, #info-2, #info-3, #info-4 {
        font-size: 3rem;
    }
}

@media (max-width: 1608px){
    .container{
        width:80%;
    }
    #footer p{
        font-size: 2.5rem;
    }
    .svg-container{
        height: 580px;
        width: 190px;
    }
}

@media (max-width: 1440px){
    #cart, #title{
        height: 130px
    }
}

@media (max-width: 1312px){
    #cart{
        width: 71%;
    }

    #basket{
        width: 29%;
    }

    .order-info{
        width: 270px;
    }

    .pizza-img{
        width:100%;
    }

    .container{
        width:90%;
        font-size: 14px;
    }

    #small{
        width: 45%;
        margin-right: 5%;
    }

    #big{
        width: 45%;
        margin-left: 5%;
    }
}

@media (max-width: 1287px){
    #footer p{
        margin-top: 1%;
    }
    .svg-container{
        height: 480px;
        width: 140px;
    }
    .percent{
        margin-top: 400px;
    }
    .letter, .percent{
        font-size: 2.5rem;
    }
}

@media (max-width: 1232px){
    .container{
        margin-top: 25%;
    }
}

@media (max-width: 1160px){
    .btn{
        padding: 6px 4px;
    }
    #info-1, #info-2, #info-3, #info-4 {
        font-size: 2.5rem;
    }
    .pizza-img{
        width: 150%;
    }
}

@media (max-width: 990px){
    #info-3{
        display: none;
    }
}

@media (max-width: 930px){
    #footer p{
        font-size: 2rem;
        padding: 0 20vw;
    }
    p{
        margin: 0 0 10px;
    }
}

@media (max-width: 950px){
    .pizza-img{
        width: 160%;
    }
}

@media (max-width: 920px){
    #cart{
        width: 60%;
    }
    #basket{
        width: 40%;
    }
    .pizza-img{
        width: 170%;
    }

    .container{
        width: 60%;
    }
}

@media (max-width: 1116px){
    #price-submit, #price {
        font-size: 2.5rem;
    }
}

@media (max-width: 980px){
    .order-name{
        font-size: 2rem;
    }
    .col-2, .price, .amount {
        font-size: 1.5rem;
    }
    .minus, .plus, .delete{
        width: 3rem;
        height: 3rem;
    }
    .pizza-img{
        width: 200%;
    }
}

@media (max-width: 844px){
    #info-2{
        display: none;
    }
    #login-button{
        border-radius: 5px;
        margin-left: 8vw;
        background-color: darkorange;
    }
}

@media (max-width: 816px){
    .filters{
        font-size: 2.5rem;
    }
}

@media(max-width: 793px){
    #info{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
    }
    #logo{
        height:150px;
    }
    #title{
        height: 150px;
    }
    #info-1{
        width: 40%;
    }
    #info-4{
        width: 100%;
    }
    #image{
        width: 100px;
        height: 340px;
        transform: rotateX(3.142rad);
    }
    #logo-name{
        position: absolute;
        margin-top: 3vh;
        font-size: 2.5rem;
        letter-spacing: 3px;
        color: azure;
        font-weight: bold;
    }

    @media(max-width: 620px){
        #title-name{
            font-size: 1.6em;
        }
        #title-amount{
            font-size: 1.5em;
            padding: 0px 0.5rem;
        }
        #cancel{
            margin-left: 0px;
        }
    }

    @media (max-width: 780px) {
        #price-submit, #price{
            font-size: 2.1rem;
        }
        #submit{
            margin: 0 4vw 1vh 4vw; 
            font-size: 2rem;
        }
        .container{
            margin-top: 45%;
        }
        .order-info{
            width: 240px;
        }
        .pizza-img{
            width: 240%;
            right: -140%;
        }
    }

    @media (max-width: 692px){
        #footer p{
            font-size: 1.5rem;
            padding: 0 20vw;
            margin-top: 1%;
        }
        p{
            margin: 0 0 10px;
        }
        .svg-container{
            height: 370px;
            width: 110px;
        }
        .letter, .percent{
            font-size: 1.6rem;
        }

        .letter{
            margin-top: 140px;
        }

        .percent{
            margin-top: 250px;
        }
    }

    @media (max-width: 640px) {

        .pizza-img{
            width: 260%;
            right: -140%;
        }

        .order-info {
            width: 190px;
        }
    }

    @media (max-width: 620px) {

        #info-1{
            border-bottom: solid 2px azure;
            width: 90%;
        }
        #info-4{
            display: none;
        }
        #login-button{
            border-top: solid 2px azure;
            margin: 0% 0%;
            width: 40%;
            border-radius: 0px;
            margin-left: 0vw;
        }
        
    }

    @media (max-width: 504px) {

        .pizza-img{
            width: 300%;
            right: -210%;
        }

        .order-info {
            width: 130px;
        }
    }

    @media (max-width: 504px) {

        .pizza-img{
            width: 300%;
            right: -210%;
        }

        .order-info {
            width: 130px;
        }

        #info, #title{
            height:190px;
        }

        .container{
            margin-top: 60%;
        }
    }

    @media (max-width: 447px) {
        #price-title, #price{
            font-size: 1.7rem;
        }
        #login-button{
            font-size: 18px;
        }
        #info-1{
            font-size: 1.9rem;
        }
    }
}