@media(max-width: 1800px){
    .discount-container{
         width: 150px;
         height: 520px;
    }
    .discount-image{
        height: 600px;
    }

    .letter{
        font-size: 3rem;
    }
}

@media(max-width:1730px){
    .row{
        grid-template-columns: 300px 300px;
    }
    .container{
        margin-top: 20%;
    }
}

@media(max-width: 1620px){
    #id-wrapper{
        display: grid;
        flex-direction: row;
        justify-content: center;
        row-gap: 0.5vw;
        font-size: 2rem;
    }
}

@media(max-width: 1590px){
    #info-3{
        display: none;
    }
}

@media(max-width: 1485px){
    #info-1, #info-2{
        font-size: 3rem;
    }
}


@media(max-width: 1420px){
    .container{
        width: 800px;
    }
}

@media(max-width: 1340px){
    .row{
        grid-template-columns: 300px;
    }

    .container{
        margin-top: 30%;
    }
}

@media(max-width: 1060px){

    #info-2{
        display: none;
    }
    #login-button{
        grid-column-start: 3;
    }
    #info-1{
        grid-column-start:1;
        grid-column-end: 3;
    }
    #image{
        width: 106px;
        height: 370px;
    }

    #logo-name{
        margin-top: 2vh;
    }
}

@media(max-width: 1110px){
    .container{
        width: 200px;
        margin-top: 40%;
    }

    #footer p{
        padding: 0 200px;
    }
}

@media(max-width: 956px){
    #info-4{
        display: none;
    }
    #login-button{
        grid-row-start: 2;
    }
    #info-1{
        grid-column-start:1;
        grid-column-end: 4;
        padding-bottom: 10px;
        border-bottom: solid 1px;
    }
    
    .container{
        margin-top: 55%;
    }
}

@media(max-width: 950px){
    body{
        position: absolute;
        box-sizing: border-box;
        display: flex;
        overflow-x: scroll;
        width: 900px;
    }
    
    #basket{
        position: absolute;
        width: 380px;
        height: 100%;
    }

    #title{
        height: 3%;
    }

    #cart, #shop{
        width: 520px;
    }
    
    #cart{
        position: absolute;
        width: 520px;
        height: 176px;
    }

    #price-submit{
        height: 5%;
    }

    #orders{
        height: 100%;
    }

    #footer p{
        font-size:x-large;
    }
    
   .discount-container{
        position: absolute;
        height: 500px;     
    }

    .minus, .delete{
        font-size: 24px;
    }
    
    .pizza-img{
        position: absolute;
        right: 0px;
        width: 90px;
        height: 160px;
        margin-top: 30px;
    }

    #submit{
        margin: 0px 80px 1vh 80px;
    }
}

