body{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
#shop{
    position: relative;
    font-size: 2rem;
}

#basket{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}

#title, #orders, #price-submit{
    width: 100%;
    font-size:x-large;
}

#title{
    height: 10%;
}
#orders{
    height: 80%;
}
#price-submit{
    height: 10%;
}

#logo, #info{
    box-sizing: border-box;
}

#cart{
    width:75%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

#info{
    flex-grow: 9;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.8;
}

#logo{
    flex-grow: 1;
    text-align: center;
    background-color: black;
    opacity: 0.8;
}

#info-4{
    padding-left: 10px;
    border-top: solid lightgrey 2px;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: left;
}

#login-button{
    border-radius: 5px;
    margin-right: 5px;
    background-color: darkorange;
}

.header-info{
    padding-right: 10px;
    text-align: center;
    color: azure;
    font-size:x-large;
}

.col-sm-6-col-md-4{
    z-index: 0;
}