body{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#info-1, #info-2, #info-3, #info-4 {
    font-size: 3.5rem;
}

#shop{
    background-color:rgb(255, 245, 231);
    box-sizing: border-box;
    position: relative;
    font-size: 2rem;
}


#pizza-info{
    display: flex;
    box-sizing: border-box;
}

#small{
    width: 40%;
    margin-right: 10%;
}

#big{
    width: 40%;
    margin-left: 10%;
}

#basket{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px 5px #5a5a5a;
    height: 100%;
    width: 25%;
}

#title, #orders, #price-submit{
    width: 100%;
}

#title-name{
    font-size: 2em;
}

#title-amount {
    font-size: 2em;
    border: solid 2px rgb(227, 106, 0);
    border-radius: 50%;
    background-color: rgb(227, 106, 0);
    color: white;
    padding: 0 1rem;
}

#cancel {
    margin-left: 1.5vw;
    font-size: 16px;
    letter-spacing: 2px;
    color: gray;
    display: inline-block;
}

#title{
    background-color: white;
    height: 10%;
    padding-left: 1vw;
    padding-top: 3vh;
    font-size: 16px;
}
#orders{
    background-color: rgb(242, 242, 242);
    height: 80%;
    overflow-y: auto;
    overflow-x: clip;
}

#logo, #info{
    box-sizing: border-box;
}

#cart{
    width: 75%;
    height: 120px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

#info{
    flex-grow: 8;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#logo{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#info-4{
    padding-left: 10px;
    border-top: solid lightgrey 2px;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: left;
}

#login-button {
    width: max-content;
    border-radius: 5px;
    margin-right: 20px;
    background-color: darkorange;
}

#image{
    width: 160px;
    height: 480px;
    transform: rotateX(3.142rad);
}

#logo-name{
    position: absolute;
    margin-top: 4vh;
    font-size: 3.5rem;
    letter-spacing: 3px;
    color: azure;
    font-weight: bold;
}

#price-submit, #price{
    font-size: 3rem;
}

#price-submit{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 10%;
}

#price{
    grid-column-start: 2;
    text-align: right;
    margin-right: 1vw;
}

#submit{
    background-color: rgb(255, 185, 55);
    color: white;
    font-size: 3rem;
    border-radius: 15px;
    margin: 0 2vw 1vh 2vw;
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    box-shadow: 1px 8px 19px #8d5b00;
    font-family: revert;
}

.pizza-div{
    grid-column-start: 8;
    grid-row-start: 1;
    grid-row-end: 5;
}


.image-container {
    position: relative;
}

.pizza-img {
    position: absolute;
    right: -50%; 
    width: 80%; 
    height: 100%;
}

.svg-container {
    left: 2%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 270px;
}

.svg-image {
    width: 100%;  
    height: 100%;  
}

.letter{
    display: flex;
    align-items: baseline;
    border-bottom: solid 2px darkorange;
}

.letter, .percent {
    position: absolute;
    margin-top: 200px;
    font-size: 3.5rem;
    letter-spacing: 3px;
    color: azure;
    text-align: center;
    font-weight: bold;
   
}

.percent{
    margin-top: 450px;
    text-align: center;
}

.header-info{
    padding-right: 10px;
    text-align: center;
    color: azure;
    font-size:x-large;
}

.col-sm-6-col-md-4{
    z-index: 0;
}

.container{
    margin-top: 15%;
}

#header p{
    font-size: 3rem;
}

#header{
    text-align: center;
    word-spacing: 8px;
    margin-bottom: 1vw;
}

#footer{
    background-color: rgb(242, 242, 242);
    padding: 2vw;
    text-align: center;
    position: relative;
    z-index: 0;
}

#footer p{
    font-size: 3rem;
    padding: 0 15vw;
}

#pizza-types{
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 0 1rem;
}

.filters{
    display: inline;
    color: orange;
    font-size: 3rem;
    font-weight: bolder;
}

.order-info{
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-template-rows: auto;
    grid-template-columns: auto;
    margin: 2rem 0 0 1vw;
}

.row{
    background-color: rgb(255, 245, 231);
}

.col-1, .col-2, .col-3{
    display: flex;
}

.col-2{
    font-size: 3rem;
}

.col-3{
    margin-top: 1vh;
}

.size-icon{
    width: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.diameter{
    grid-column-start: 2;
    margin-left: 0.4vw;
}

.weight-icon{
    width: 20px;
    grid-column-start: 4;
    margin-left: 0.4vw;
}

.grams{
    grid-column-start: 5;
    margin-left: 0.4vw;
}

.order-name{
    display: inherit;
    color: orange;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 2.5rem;
}

.minus, .plus, .delete {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    border: none;
    box-shadow: 1px 1px 6px #5a5a5a;
    text-shadow: white 0px -14px 9px;
}

.minus, .plus, .amount 
{
    margin-left: 0.4vw;
}

.price{
    font-size: 3rem;
    grid-column-start: 1;
    align-self: center;
}

.minus {
    grid-column-start: 4;
    background-color: red;
    color: white;
}

.amount{
    grid-column-start: 5;
    font-size: 3rem;
    text-align: center;
    align-self: center;
}

.btn-primary{
    color: #fff;
    background-color: #fdac32;
    border-color: #080a0c;
}

.order-wrapper{
    border-bottom: solid 3px rgb(170, 170, 170);
    padding-bottom: 1vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.plus {
    grid-column-start: 6;
    background-color: green;
    color: white;
}
  
.delete {  
    grid-column-start: 8;
    background-color: white;
    color: orange;
    margin-left: 2vw;
}

